<!doctype html>
<html lang='en'>
<head>
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">

  <title>Sonos Buddy</title>

  <link rel="stylesheet" media="screen" type="text/css" href="css/concise.css">
  <link rel="stylesheet" media="screen" type="text/css" href="css/sobud.css">
  <script type="text/javascript" src="js/jquery-2.2.3.min.js"></script>
  <script type="text/javascript" src="js/sobud.js"></script>

</head>
<body>
  <div container>

  <header row class="siteHeader">
      <div column=12>
      </div>
  </header>


    <%= yield %>

  <footer class="siteFooter">
    <hr>
    <p><%= @service %></p>
  </footer>


    </div>
</body>
</html>






