<!doctype html>
<html lang='en'>
<head>
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">

  <title>Sonos Buddy</title>

  <link rel="stylesheet" media="screen" type="text/css" href="css/concise.css">
  <link rel="stylesheet" media="screen" type="text/css" href="css/sobud.css">
</head>
<body>
<div class="container">
  <h1>Sonos Buddy</h1>

  <%= yield %>

</div>
</body>
</html>








